.gallery_content_container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.gallery_img_container {
  width: 100%;
}
.gallery_img_container img {
  width: 70%;
  margin: 0 auto;
  object-fit: cover;
}
@media (max-width: 900px) {
  .gallery_content_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 1rem;
  }
  .gallery_img_container img {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .gallery_content_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .gallery_img_container img {
    width: 90%;
  }
}
@media (max-width: 350px) {
  .gallery_content_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    padding: 2rem 0.5rem;
  }
  .gallery_img_container img {
    width: 80%;
  }
}
