.gallery_content_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.gallery_img_container {
  width: 30%;
}
.gallery_img_container img {
  width: 100%;
}
